<ion-content [fullscreen]="true">

  <div class="calendar-header">
    <div class="header-top">
      <ion-icon name="chevron-back" (click)="goBack()"></ion-icon>
      <h1>Calendário Escolar</h1>
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </div>

    <div class="calendar-wrapper">
      <ion-datetime 
        presentation="date" 
        size="cover" 
        [value]="selectedDate"
        class="custom-datetime">
      </ion-datetime>
    </div>
  </div>

  <div class="events-container">
    
    <div class="week-group" *ngFor="let group of weekGroups">
      <h3 class="week-label">{{ group.label }}</h3>

      <div class="event-card" *ngFor="let event of group.events" [ngClass]="event.type">
        <div class="date-box">
          <span class="day">{{ event.day }}</span>
          <span class="month">{{ event.month }}</span>
        </div>
        <div class="event-info">
          <h4>{{ event.title }}</h4>
          <div class="meta">
            <ion-icon name="time-outline"></ion-icon>
            <span>{{ event.time }}</span>
          </div>
        </div>
        <div class="indicator"></div>
      </div>
    </div>

  </div>

  <ion-fab *ngIf="!isMenuOpen" vertical="bottom" horizontal="end" slot="fixed" class="custom-fab">
    <ion-fab-button (click)="toggleMenu()">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="expanded-menu-bar" *ngIf="isMenuOpen">
    <div class="menu-icon" (click)="goBack()">
      <ion-icon name="person"></ion-icon>
    </div>
    <div class="menu-icon relative" (click)="goToChat()">
      <ion-icon name="chatbubbles"></ion-icon>
      <span class="menu-badge">3</span>
    </div>
    <div class="menu-icon active">
      <ion-icon name="calendar"></ion-icon>
    </div>
    <div class="menu-icon">
      <ion-icon name="help-circle"></ion-icon>
    </div>
    <div class="close-btn-container" (click)="toggleMenu()">
      <ion-icon name="chevron-back"></ion-icon>
    </div>
  </div>

</ion-content>